body {
    font-size:80%;
    font-family:"trebuchet MS", verdana, arial, sans-serif;
    background:#f0f0f0;
    word-wrap:break-word;
    margin:0;
    height: 100%;
}

.page_title{
    margin: auto;
    text-align: center;
    color:#A70303;
    width: 98%;
    border-bottom: #8b9dc3 solid thin;
}
#header {
    background:#3b5998;
    min-height:8px;
}
.logout{
    float: right;
    padding: 5px;
    width:40%;
    height: 5%;
}
#wrapper {
    background: #fff;
    min-height:640px;
}

#footer {
    clear:both;
    background:#455c5a;
}
#footer p,#header p,#footer a {
    color:#fff;
}

//normal text designs
.err{
    color: red;
    font-style: oblique;
}

h1 {
    font-size:20px;
    margin:0;
    padding:1px 0;
    color:#fff;
}
h3 {
    font-size:18px;
    margin:0;
    padding:8px 0;
}
.content {
    padding:10px;

}
p {
    font-size:16px;
    line-height:1.5em;
    margin:0;
    padding:1px 12px -12px;
}

a {
    color: #3b5998;
    text-decoration: none;
}










