<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Logout</servlet-name>
        <servlet-class>Servlet.Logout</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ItmCun</servlet-name>
        <servlet-class>Servlet.ItmCun</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MitJson</servlet-name>
        <servlet-class>Json.MitJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MitDtJson</servlet-name>
        <servlet-class>Json.MitDtJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewFG</servlet-name>
        <servlet-class>Servlet.NewFG</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>jsp</servlet-name>
        <servlet-class>org.apache.jasper.servlet.JspServlet</servlet-class>
        <init-param>
            <param-name>fork</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>xpoweredBy</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>compilerSourceVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <init-param>
            <param-name>compilerTargetVM</param-name>
            <param-value>1.7</param-value>
        </init-param>
        <load-on-startup>3</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>ItmJson</servlet-name>
        <servlet-class>Json.ItmJson</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExportRpt</servlet-name>
        <servlet-class>Servlet.ExportRpt</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>jsp</servlet-name>
        <url-pattern>*.jsp</url-pattern>
        <url-pattern>*.jspx</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Logout</servlet-name>
        <url-pattern>/Logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItmCun</servlet-name>
        <url-pattern>/ItmCun</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MitJson</servlet-name>
        <url-pattern>/MitJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MitDtJson</servlet-name>
        <url-pattern>/MitDtJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewFG</servlet-name>
        <url-pattern>/NewFG</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ItmJson</servlet-name>
        <url-pattern>/ItmJson</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExportRpt</servlet-name>
        <url-pattern>/ExportRpt</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
