  


.dtb {
    border: 1px solid #C0C0C0;
    border-collapse: collapse;
    padding: 4px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 13px;

}
.dtb th {
    border: 1px solid #999999;
    padding: 1px;
    background:#C0C0C0;
    color: #000;
    text-align: center;
    font-weight: bold;
}
.dtb td {
    border: 1px solid #C0C0C0;

    padding: 3px;
}

.dtb_sub  {
    width: 100%;
    height: 100%;
}
.dtb_sub  td{  
    border: 1px solid #C0C0C0;
    vertical-align: top;
    border-style: none;
}

.lbl{
    float: right;

}
.readon{
    background: #C0C0C0;
}
.cur{
    text-align:right;

}