<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
<!--    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>-->
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Servlet.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SelItm</servlet-name>
        <servlet-class>Servlet.SelItm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Selection</servlet-name>
        <servlet-class>Servlet.Selection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Revert</servlet-name>
        <servlet-class>Servlet.Revert</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SelItm</servlet-name>
        <url-pattern>/SelItm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Selection</servlet-name>
        <url-pattern>/Selection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Revert</servlet-name>
        <url-pattern>/Revert</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
